h1.text-center {
    font-family: 'Courgette', cursive;
    font-size: 3.3em;
}

#button0:hover,
#button1:hover,
#button2:hover,
#button3:hover,
#button4:hover,
#button5:hover {
    font-family: 'Courgette', cursive;
    background-color: black;
    color: white;
    font-size: 1.3em;
}


#image0,
#image1,
#image2,
#image3,
#image4,
#image5 {
    opacity: 1;
    -webkit-transition: transform 1.5s; /* Safari */
    transition: transform 1.5s;
}



#image0:hover,
#image1:hover,
#image2:hover,
#image3:hover,
#image4:hover,
#image5:hover {
    opacity: 0.6;
    -ms-transform: scale(1.09,1.09); /* IE 9 */
    -webkit-transform: scale(1.09,1.09); /* Safari */
    transform: scale(1.09,1.09); /* Standard syntax */
}


#content0,
#content1,
#content2,
#content3,
#content4,
#content5 {
    transition: all 0.5s ease-in;
}


#content0:hover,
#content1:hover,
#content2:hover,
#content3:hover,
#content4:hover,
#content5:hover {
    background-color: black;
    color: white;
};



